* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

/* Navbar */
.nav {
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
    /* float: inline-end; */
   
    
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    
    
}

/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form__row {
    padding: 8px 0;
    display: flex;
    
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1;
}

/* Column layout */
.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
   
}

.column-item {
    padding: 0 16px;
    flex: 1;
}

.sidebar-one {
    flex: 1;
    /* cái order thây đổi thứ thự hiển thị */
    /* order: 1; */
}

.sidebar-two {
    flex: 1;
    /* order: 2; */
}

.main-column {
    flex: 3;
    /* order: 3; */
}

/* Feature layout */
.feature-layout {
    margin-top: 36px;
}

/* PC, Tablet */
@media (min-width: 740px) {
    .feature-layout {
        display: flex;
        justify-content: space-evenly;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
    
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}

/* Wrap layout */
.wrap-layout {
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
     /* khi co lại thì xuống cho xuống dòng  */
    /* flex-wrap: wrap; */
    /* khi co lại thì cho lên dòng */
    flex-wrap: wrap-reverse;
   

    
    
    /* Đưa 1 khối ra giữa */
    /* display: flex;
    flex-direction: column;
    align-items: center;
     */
    

}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

/* Center layout */
.center-layout {
    background-color: rgb(192, 227, 194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
   display: flex;

}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

/* Chart layout */
.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    align-items: flex-end;
}

.chart-layout__item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    align-self: flex-end;
    /* ease-in kiểu animation thực hiện ease lúc đầu chậm lúc sau nhanh*/
    animation: growth ease-in 0.8s;
}

/* animation  để lớn lên*/
@keyframes growth {
    /* from điểm bắt đầu to đến điểm ta truyền vào */
    from{
        opacity:0 ;
        height: calc(var(--percent)-50%);
    }to{
        opacity:1 ;
        height: var(--percent);
    }
}


/* End */
.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    /* Đổi ngược lại thành trắng sang 1 bên  */
    /* flex-direction: row-reverse; */

}

.the-end__first {
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}

.the-end__second {
    flex: 1;
    display:flex;
    flex-direction: column;
    /* đổi ngược lại thành xanh trên hồng dướI
    flex-direction: column-reverse; */
}

.the-end__second-one {
    padding: 4px 16px;
    background-color: rgb(227, 192, 214);
    flex: 1;
}

.the-end__second-two {
    padding: 4px 16px;
    background-color: rgb(192, 210, 227);
    flex: 1;
}



/* flex 1 là cú pháp shorthand 

    flex-grow:1
    flex-shrink:1
    flex0-basis:1



*/